<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
  <h3 class="section-header">
    Get started:
  </h3>
  <p><a href="http://hitseekr.combio.sdu.dk" target="_blank" class="btn btn-primary">Demo Application</a></p>

<h3>
  Tutorial:
</h3>
<ul>
	<li>
		<a href="{{ "/tutorial/index.html#Introduction" | prepend:site.baseurl }}" >Introduction</a>
	</li>
	<li>
		<a href="{{ "/tutorial/index.html#siRNA" | prepend:site.baseurl }}" >Example 1: siRNA screen</a>
	</li>
	<li>
		<a href="{{ "/tutorial/index.html#miRNA" | prepend:site.baseurl }}" >Example 2: microRNA screen</a>
	</li>
	<li>
		<a href="{{ "/tutorial/index.html#compound" | prepend:site.baseurl }}" >Example 3: drug screen</a>
	</li>
</ul>

<h3>
  Setup your own installation:
</h3>
	<p><a href="https://hub.docker.com/r/nanocan/hitseekr/" target="_blank" class="btn btn-primary">Docker Hub</a></p>

<h3>
  <h3 class="section-header">
    Get involved:
  </h3>

  <p><a href="https://github.com/nanocan/HitSeekR" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>


  <h3>
    Design & Development: 
  </h3>
  <h4>Markus List</h4>

  <p><a href="https://twitter.com/itisalist" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @itisalist</a></p>

<h3>
	Supported by:
</h3>          
	<div><a href='http://nanocan.org'><img width=150 src="{{ "/images/NanoCAN.png" | prepend:site.baseurl }}"/></a></div>
   <div><a href='http://baumbachlab.net'><img width=200 src="{{ "/images/baumbachlab.png" | prepend:site.baseurl }}"/></a></div>
 

